* {
  box-sizing: border-box;
  font-family: Inter, Arial;
}

body {
  margin: 0;
  background: radial-gradient(circle at top, #2a0f38, #120015);
  color: #f2e6ff;
  min-height: 100vh;
}

header {
  background: #1b0623;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #9c489e;
}

header h1 {
  color: #d88bff;
}

.container {
  padding: 30px;
  max-width: 1600px;
  margin: auto;
}

/* KPI */
.kpis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.kpi {
  background: rgba(156, 72, 158, 0.15);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(156, 72, 158, 0.3);
}

.kpi h3 {
  color: #ffd6ff;
  font-size: 0.9rem;
}
.kpi p {
  font-size: 1.8rem;
}

/* Layout */
.grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 25px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.panel {
  background: rgba(30, 5, 40, 0.9);
  border-radius: 16px;
  padding: 25px;
  border: 1px solid rgba(156, 72, 158, 0.25);
  margin-bottom: 25px;
}

.panel h2 {
  color: #d88bff;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  color: #ffd6ff;
}

.status {
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 0.7rem;
  font-weight: 600;
}

.SUCCESS {
  background: rgba(74, 222, 128, 0.2);
  color: #4ade80;
}
.FAILED {
  background: rgba(248, 113, 113, 0.2);
  color: #f87171;
}
.PENDING {
  background: rgba(250, 204, 21, 0.2);
  color: #facc15;
}
.FRAUD {
  background: rgba(248, 113, 113, 0.35);
  color: #ff6b6b;
}

/* Actions */
.actions input {
  width: 70%;
  padding: 7px;
  background: #24062e;
  color: white;
  border: 1px solid #9c489e;
  border-radius: 6px;
  margin-bottom: 8px;
}

.actions button {
  width: 28%;
  margin-left: 2%;
  background: #9c489e;
  border: none;
  color: white;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
}

.actions button:hover {
  background: #b85bc2;
}

canvas {
  max-height: 280px;
}

footer {
  text-align: center;
  opacity: 0.7;
  margin: 40px 0 20px;
}
